h1, h2
{
    color:
    rgb(215, 119, 1);
    font-family: Arial, Helvetica, sans-serif;
}
    
article
{
background-color: rgb(215, 119, 1);
background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhtoHuTUmwmR5EiQcGkP71WVCDbPk96nhub3kZje77q2oZkuoDSBrgRWP7z4H7sLeFjXaeYCzH5LVPLqqSkxFoZRqKXsaPIH0Sorb_VkazfGDKeIWvkEQFBi6KN_tuCJouh8TwbfOe5Hpjh/s1600/jake+sandwich+horizontal.jpg');
width: 500;
height: 500;
color: currentColor;
font-family: Arial, Helvetica, sans-serif;
}